body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  background-image: url(../src/assets/images/github-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center bottom;
}

code {
  font-family: "Be Vietnam Pro", sans-serif;
}
